@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Zabars';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/Zabars.ttf') format('truetype');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

root {
  font-size: 1em; /*usually evaluates to 16px; adjust to set basic font-size (xem with x = (desired basic font size in px)/(16 px); all other font-sizes in rem*/
  box-sizing: border-box;
  --scrollbar-width: 0px;
}
*,
::before,
::after {
  box-sizing: inherit;
}
/*use following template if any third-party components are used that require box-sizing: content-box	
    .third-party-component {	
    box-sizing: content-box;	}*/

body {
  font-family: 'Zabars';
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  /* padding-inline: 2vw; */
  background-image: url(./img/background-img.svg);
  background-size: cover;
  background-position: center;
  overflow: auto;
}

h1 {
  font-size: 5rem;
  margin-block: 1rem;
  text-align: center;
}

button {
  outline: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#back-button {
  margin-block-start: 3em;
  font-size: 1.5em;
}

.fullscreen {
  position: relative;
  background-color: sandybrown;
}

canvas {
  background-color: sandybrown;
  display: block;
  margin: 0;
  padding: 0;
  margin-inline: auto;
}

canvas.fullscreen-enabled {
  height: 100vh;
  width: calc(100vh * 1.5);
}

.control-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.icon {
  width: 32px;
  padding: 16px;
  border-radius: 32px;
  background-color: rgb(240, 164, 24);
}

.icon:active {
  background-color: rgba(240, 164, 24, 0.3);
}

#toggle-sounds {
  position: absolute;
  top: 48px;
  right: 24px;
}

#mobile-left {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

#mobile-right {
  position: absolute;
  bottom: 16px;
  left: 100px;
}

#mobile-jump {
  position: absolute;
  bottom: 16px;
  right: 200px;
}

#mobile-throw {
  position: absolute;
  bottom: 16px;
  right: 100px;
}

.start-screen-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  visibility: hidden;
}

.end-screen-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  visibility: hidden;
}

.start-screen-img.fullscreen-enabled,
.end-screen-img.fullscreen-enabled {
  left: 0;
}

.active {
  visibility: visible;
}

.start-game {
  background-color: rgb(244, 164, 96);
  border-radius: 0.3em;
  padding: 0.3em;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translate(-50%, 0);
}

#toggle-fullscreen {
  width: 48px;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.game-instructions {
  padding-inline-start: 2vw;
}

.game-instruction {
  margin-right: 2em;
  /* display: block; */
}

.portrait-orientation-note {
  display: none;
}

@media (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}

@media (max-aspect-ratio: 3 / 2) {
  canvas.fullscreen-enabled {
    height: calc(100vw * 2 / 3 - var(--scrollbar-width));
    width: 100vw - var(--scrollbar-width);
  }
}

@media (max-aspect-ratio: 1 / 1) {
  .portrait-orientation-note {
    display: revert;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
  }
}

.d-none {
  display: none;
}
